target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
test-output/

### Local Secrets And Runtime Data ###
src/main/resources/db.properties
src/test/resources/test-data/maintenxs-login-data.json
src/test/resources/test-data/maintenxs-api-login-data.json

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### Binary local artifacts ###
src/main/resources/extensions/
src/test/resources/apps/
*.apk
*.crx
